<!DOCTYPE html>
<html>
<head>
	<title>View Enrolled Students</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<head>
<body>
	<!-- This table shows all the students currently enrolled in classes -->
	<div class="panel panel-default">
  	<div class="panel-heading">Currently Enrolled Students</div>

	<table class='table'  border = 1>
		<thead>
			<td><b>Student First Name</b></td>
			<td><b>Student Last Name</b></td>
			<td><b>Class Number</b></td>
			<td><b>Class Name</b></td>
			<td><b>Instructor</b></td>
		</thead>

		{% for row in rows %}
		<tr>
			<td> {{ row[0] }} </td>
			<td> {{ row[1] }} </td>
			<td> {{ row[2] }} </td>
			<td> {{ row[3] }} </td>
			<td> {{ row[4] }} </td>
		</tr>
		{% endfor %}
		
	</table>
	</div><br>

	<a href = "/">Go back to home page</a>

</body>
</html>
